@import "../../assets/scss/layout";

.modal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-backdrop {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
  }
  .modal-card {
    background: white;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    animation: slideUp 0.3s;
    .card {
      padding: 0;
      & > div {
        padding: 10px 15px;
        box-sizing: border-box;
      }
    }
  }
}
.modal-area {
  padding: 20px;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
